{% macro show_subtree(feature, deep) %}
    {% for relation in feature.relations %}
        {% for child in relation.children %}
            | {% for i in range(deep) %} - {% endfor %}
            {% if relation.type == 'MANDATORY' %}
                OBLIGATORIO: {{child.name}}<br>
            {% elif relation.type == 'OPTIONAL' %}
                OPCIONAL (CHECKBOX): {{child.name}}<br>
            {% elif relation.type == 'OR' %}
                OR (CHECKBOX): {{child.name}}<br>
            {% elif relation.type == 'XOR' %} 
                ALTERNATIVA (RADIOBUTTON): {{child.name}}<br>
            {% endif %}
            {{ show_subtree(child, deep+1) }}
        {% endfor %}
    {% endfor %}
{% endmacro %}

{{data.name}}
<br>
{{ show_subtree(data, 1) }}



{{data}}
